body {
  background-image: url("Bloemen2.jpg");
  width:100%;
  margin-left:auto;
  margin-right:auto;
  font-size: 110%;
  line-height: 2em;
  text-align: left;
}

.kader {
  width: 55%;
  background-color:rgba(255,255,255, 0.35);
  border: 0.5em solid white;
  border-radius: 1em;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 5em;
  font-family: verdana;
}

h1 {
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  padding-top: 0.3em;
  text-shadow: -0.03em 1px 1px black;
  }

h2 {
  font-size: 145%;
  padding:0.7em;
  padding-left:0em;
  padding-top: 3em;
  font-weight: bold;
 }

p {
  width: 100%;
}

td {
  height: 10%;
  width: 15em;
  vertical-align: bottom;
  padding: 0.5em;
  font-family: verdana;
  font-size:100%;
}

.a{
  width: 5em;
  font-family: verdana;
  font-size:100%;
}

.google {
  width: 60%;
  border: 0.5em solid white;
  border-radius: 1em;
}

.foto {
  width: 30%;
  border: 0.5em solid white;
  border-radius: 1em;
  margin-left: 0.5%;
}

.evenementfoto {
  width: 45%;
  border: 0.5em solid white;
  border-radius: 1em;
}

.slogan {
  text-align: center;
  padding-bottom: 1.7em;
  padding-top: 0.2em;
  font-size: 120%;
  }

.banner {
  background-image:url("http://www.8screensavers.com/screensavers/original/f/l/flower-art-sun-daisy-flower-2-screensaver.jpg");
  width: 100%;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
  border: 0.5em solid white;
  border-radius: 1em;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 130%;
  }

.fb {
  font-size: 100%;
  text-decoration: underline;
}

span {
  font-weight: bold;
  font-size: 100%;
}

.menu {
    width: 10%;
    position: fixed;
    padding: 1em;
    margin: 0em 2em 0em 2em;
    border: 0.5em solid white;
    line-height: 2em;
    border-radius: 1em;
    background-image: url("bord1.jpg");
}

.donorkeafb {
    width: 12%;
    position: fixed;
    border: 0.5em solid white;
    border-radius: 1em;
    margin: 0em 2em 0em 85%;
}
.donorkeafb2 {
    width: 12%;
    position: fixed;
    border: 0.5em solid white;
    border-radius: 1em;
    margin: 20em 2em 0em 85%;
}

.naam {
  font-size: 100%;
  opacity: 0.5;
  float:right;
  margin-right: 19em;
  margin-top: -5em;
}


@media (max-width: 1500px) {
  .foto {
    width: 20%;
    border: 0.5em solid white;
    border-radius: 1em;
    margin-left: 0%;
  }
  .donorkeafb2 {
    display: none;
  }
  .donorkeafb {
    width: 18%;
    margin: -2em 0em 0em 79%;
  }
  .menu {
      font-size:100%;
      width: 13%;
      margin-left: 3%;
      margin-top: -2em;
  }
  .banner {
    width: 90%;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
    border: 0.5em solid white;
    border-radius: 1em;
  }
}


@media (max-width: 1100px) {
  .foto {
    width: 20%;
    border: 0.5em solid white;
    border-radius: 1em;
    margin-left: 0%;
  }
  .donorkeafb2 {
    display: none;
  }
  .donorkeafb {
    width: 18%;
    margin: -2em 0em 0em 79%;
  }
  .menu {
      font-size:80%;
      width: 14%;
      line-height: 3em;
      margin-left: 1.1em;
      margin-top: -2em;
  }
  .banner {
    width: 90%;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
    border: 0.5em solid white;
    border-radius: 1em;
  }
}

@media (max-width: 850px) {
  .donorkeafb {
    display: none;
  }
  .menu {
    display: none;
  }
  .banner {
    width: 100%;
    padding: 0.5em;
    font-size: 90%;
    line-height: 1.8em;
    margin-bottom: -2em;
  }
  h1 {
    font-size: 200%;
    }
  .slogan {
    font-size: 110%;
    }
  .foto {
    width: 25%;
  }
  .google {
    width:100%;
  }
  .evenementfoto {
    width: 80%;
  }
}
